
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600&display=swap');

* {
  font-family: 'Public Sans', sans-serif;
}

.lanugage_card {
  width: 3000px; /* or any other fixed value you prefer */
  height: 2000px; /* or any other fixed value you prefer */
}
.multiline {
  white-space: pre-wrap;
}